{{#if songs_list}}
	<ul class="songs-list">
	{{#songs_list}}
		<li data-score="{{./score}}"><a href="#{{./key}}">{{./meta.author}}: {{./meta.title}}</a></li>
	{{/songs_list}}
	</ul>
{{else}}
	{{#if no_songs}}
		The song database is empty. <a href="#_add">Add some songs!</a>
	{{else}}
		No match for `{{query}}'.
	{{/if}}
{{/if}}
